/* tophead css */
.mainhead{
    background-color:#f67c78 ;
}
/* Plan css part */
.plan-card{
text-align: center;
}
/* testimonial */
.testimonial{
    padding-top: 60px;
}
/* footercss */
#footer-Con{
    background-color: #0e1b1f;
    padding: 6%;
}
/* Service css */
.service-head{
    padding-top: 5%;
    min-width: 500px;
}
/* Navbar css */
.navbar{
    min-width: 500px;
    background-image: url("./assets/image -back.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
/* copy footer */
#copyfooter{
    min-width: 500px;
}
